* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  h2 {
      font-weight: 700;
  }
  p {
    color: #02594d;
    font-size: 17px;
    padding: 10px;
    font-family: "Montserrat-Regular";

  }
  @font-face {
    font-family: "Proxima-Nova";
    src: url(../font/FontsFree-Net-proxima_nova_reg-webfont.ttf);
  }
  @font-face {
    font-family: "ImaginaryFriend";
    src: url(../font/ImaginaryFriend-BB-W00-Bold.ttf);
  }
  @font-face {
    font-family: "Factoria-Medium";
    src: url(../font/Factoria-Medium.ttf);
  }
  @font-face {
    font-family: "Montserrat-Regular";
    src: url(../font/Montserrat-Regular.ttf);
  }
  @font-face {
    font-family: "Galaxie-Copernicus";
    src: url(../font/GalaxieCopernicus-Book.ttf);
  }
  body {
    display: flex;
    flex-direction: column;
    padding-top: 90px;
    background-color: #fffded;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* padding: 10px; */
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 50px;
    background-color: #fffded;
    /* background: transparent; */ /* This line is commented out */
    position: fixed;
    font-family: Regular, sans-serif;
    font-weight: bolder;
    flex-shrink: 1;
  }
  a:hover {
    color: #dc3545;
    transition: color 0.5s ease;
  }
  .logo h1 {
    margin: 0;
  }
  
 
  .logo {
    font-size: 3rem;
    font-weight: bold;
  
  }
  .middle-side {
    display: flex;
    gap: 60px;
    justify-content: space-evenly;
    align-items: center;
    /* padding-right: 20px; */
    padding-left: 0px;
    font-size: 30px;
    margin-top: 15px;
    color: #02594d;
  }
  .right-side {
    display: flex;
    padding-right: 40px;
  }
  .reserveBtn {
    background-color:#02594d;;
  }
  li {
    display: flex;
  }
  a {
    text-decoration: none;
    color: #02594d;
  }
  
 
  .btn {
    border-radius: 50px;
    border: none;
    background-color:#02594d;
  }
  .btn:hover {
    background-color: #bd3946;
  }
  .menu,
  .promotion,
  .newSletterContainer,
  .subHeadSection {
    display: flex;
    color: #02594d;
    text-align: center;
    background-color: #fffded;
    justify-content: center;
    align-items: center;
    height: 300px;
    position: relative;
  }

  
  /* // Footer */
  
  .footer {
    color: #02594d;
    text-align: center;
    background-color: #fffded;
    align-items: flex-start;
    padding-top: 60px;
    padding-bottom: 40px;
    font-family: "Proxima-Nova";
    height: auto;
  }
  .footer-flex-container {
      text-align: left;
      justify-content: space-evenly;
      margin-bottom: 40px;
      display: flex;
  
   width: 100%;
  }
  .footerLogo {
    object-fit: cover;
    width: 20%;
    height: 20%;
  }
  .footer-heading {
      letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: Regular,sans-serif;
  font-size: 25px;
  line-height: 1.5;
  }
  .content2,
  .content1 {
      padding-left: 0;
      list-style:none;
      font-size: 1.2rem;
  
  }
  .content2{
      line-height: 2.5rem;
  }
  /* MENU WEBPAGE */

.contactNav,
.menuNav {
  color: #dc3545;
}

.fs-1 {
    color: #02594d;
text-align: center;
letter-spacing: 2px;
text-transform: uppercase;
margin-bottom: 40px;
font-family: Regular,sans-serif;
font-size: 46px;
line-height: 35px;
font-weight: 900;
}
.fs-2 {
  color: #02594d;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;

  font-family: Regular,sans-serif;

  line-height: 35px;
  /* font-weight: 900; */
}
.submit {
    background-color: #02594d;
  border-radius: 0;
  color: white;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 2px;
  width: 16%;
  margin-top: 16px;
  height: 40px;
}

 
.reserveBtn {
    background-color: #dc3545;
}

.team {
    display: flex;
    padding-top: 60px;

    flex-direction: column;
    align-items: center;
}
.teamImage {
  object-fit: contain;
  background-repeat: no-repeat;
  justify-content: center;
  width: 80%; /* Full width relative to its parent */
  height: auto; /* Adjust height according to width while keeping the aspect ratio */
}
.storyContainer {
  display: flex;
  padding: 20px;
  width: 900px;
  padding-top: 0;

  flex-direction: column;
  justify-content: center;
  text-align: left;
  align-items: center;
}
.rowContainer {
  display: flex;
  text-align: left;
  /* border: 1px solid black; */
  justify-content: space-between;
  margin-left: 100px;
}
.infoImage {
  display: flex;
  flex-direction:column;
  align-items: flex-start;

  width: 450px; /* Fixed width for the container */
  margin-top: 20px; /* Adjust this value as needed */
}
.TextContainer1 {
  display: flex;
  padding: 15px 0;
  flex-direction: column;
  width: 80%; /* Full width relative to its parent */
}
.fs-5 {
  display: flex;
  align-self: flex-start;
  font-family: "Proxima-Nova";
font-weight: 400;
font-style: normal;

letter-spacing: .25em;
line-height: 1.3em;
text-transform: uppercase;
}
.text-justify {
  text-align: justify;
}
.myAbout {
  color: #dc3545;
}