* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2 {
    font-weight: 700;
}
@font-face {
  font-family: "Proxima-Nova";
  src: url(font/FontsFree-Net-proxima_nova_reg-webfont.ttf);
}
@font-face {
  font-family: "ImaginaryFriend";
  src: url(font/ImaginaryFriend-BB-W00-Bold.ttf);
}
@font-face {
  font-family: "Factoria-Medium";
  src: url(font/Factoria-Medium.ttf);
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url(font/Montserrat-Regular.ttf);
}
body {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  background-color: #fffded;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* padding: 10px; */
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 50px;
  background-color: #fffded;
  /* background: transparent; */ /* This line is commented out */
  position: fixed;
  font-family: Regular, sans-serif;
  font-weight: bolder;
  flex-shrink: 1;
}
a:hover {
  color: #dc3545;
  transition: color 0.5s ease;
}
.logo h1 {
  margin: 0;
}

.logo:hover {
  color: #dc3545;
}
.logo {
  font-size: 3rem;
  font-weight: bold;
  transition: color 0.5s ease;
}
.middle-side {
  display: flex;
  gap: 60px;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 20px;
  font-size: 30px;
  margin-top: 15px;
  color: #02594d;
}
.right-side {
  display: flex;
  padding-right: 40px;
}
.reserveBtn {
  background-color:#02594d;;
}
li {
  display: flex;
}
a {
  text-decoration: none;
  color: #9e6b17;
}

.FirstSection {
  display: flex;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 20%,
    rgba(128, 128, 128, 1)
  );
  background-image: url(image/ramen2.avif);
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  flex-direction: row;
  justify-content: center;
  font-family: "Montserrat-Regular";

  color: white;
}
.heroContainer {
  display: flex;
  width: 500px;

  justify-content: center;
  align-items: center;
  /* padding-bottom: 80px; */

  font-size: 900px;
}
.subtext {
  color: white;
}
.promoText,
.HeroText {
  color: white;
  font-weight: bold;
  font-family: Regular, sans-serif;
  text-align: center;
  padding-bottom: 10px;
  font-weight: 700px;
  font-size: 140px;
  opacity: 1;
}
.btn {
  border-radius: 50px;
  border: none;
  background-color:#02594d;
}
.btn:hover {
  background-color: #bd3946;
}
.menu,
.promotion,
.newSletterContainer,
.subHeadSection {
  display: flex;
  color: #02594d;
  text-align: center;
  background-color: #fffded;
  justify-content: center;
  align-items: center;
  height: 300px;
  position: relative;
}
.newSletterHeading,
.subHeadText {
  width: 50%;
  color: #02594d;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat-Regular";
  font-size: 25px;
  line-height: 34px;
  display: flex;

  top: auto;
  bottom: auto;
}
.SecondSection {
  display: flex;
  flex-direction: column;
  height: 1200px;
  /* justify-content: center; */
  /* align-items: center; */
  padding: 60px;
  font-family: "Montserrat-Regular";
}
.img1 {
  width: 640px;
  object-fit: cover;
  height: 540px;
  padding-left: 60px;
  padding-bottom: 50px;
  /* background-size: cover; */
  flex-shrink: 0;
}
.img2 {
  width: 650px;
  object-fit: cover;
  height: 540px;
  padding-left: 60px;
  display: flex;
  flex-shrink: 0;
}


.img-text,
.img-text2 {
  display: flex;
  flex-shrink: 0;
}
.firstSectionText {
  margin-top: 50px;
  display: flex;
  font-size: 3.5rem;
}

.TextContainer1 {
  display: flex;
  padding: 30px;
  flex-direction: column;
}
.TextContainer2 {
  display: flex;
  flex-direction: column;

  padding-left: 58px;
}
.secondSectionText {
  display: flex;
  font-size: 3.5rem;
}
.img-text2 {
  justify-content: space-between;
}
.quote2,
.quote {
  font-size: 3.5rem;
}
.quote2 {
  align-self: flex-end;
}

.newSletterContainer {
  height: 400px;
  flex-direction: column;
}
.newSletterHeading {
  font-size: 26px;
  font-weight: 900;
  font-family: Regular, sans-serif;
  margin-bottom: 40px;
}
.input-group {
  width: 30%;
  font-family: Regular, sans-serif;
}
.newsletter-btn {
  background-color: #02594d;
  border-radius: 0;
  color: white;
  font-size: 18px;
  font-weight: 900;
}
.text-block {
  color: #02594d;
  letter-spacing: 0;
  text-transform: none;
  margin-bottom: 30px;
  padding: 30px;
  font-family: "Proxima-Nova";
  font-size: 20px;
  font-weight: 800;
  line-height: 25px;
}
/* promo */

.promotion {
    height: 600px;
    flex-direction: column;
    width: 100%;
    height: 550px;
    background:linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgb(51, 49, 49)), url('image/ramenPromo.avif');
    background-repeat: no-repeat;
   

}
.homeNav {
  color: #dc3545;
}
.promoText {
   font-size: 80px;
}
.promoButton {
  background-color: #02594d;
  border-radius: 6px;
  width: 13%;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Proxima-Nova";
}
/* // Footer */

.footer {
  color: #02594d;
  text-align: center;
  background-color: #fffded;
  align-items: flex-start;
  padding-top: 60px;
  padding-bottom: 40px;
  font-family: "Proxima-Nova";
  height: auto;
}
.footer-flex-container {
    text-align: left;
    justify-content: space-evenly;
    margin-bottom: 40px;
    display: flex;

 width: 100%;
}
.footerLogo {
  object-fit: cover;
  width: 20%;
  height: 20%;
}
.footer-heading {
    letter-spacing: 1px;
text-transform: uppercase;
margin-top: 0;
margin-bottom: 20px;
font-family: Regular,sans-serif;
font-size: 25px;
line-height: 1.5;
}
.content2,
.content1 {
    padding-left: 0;
    list-style:none;
    font-size: 1.2rem;

}
.content2{
    line-height: 2.5rem;
}
/* MENU WEBPAGE */
.menu {
    background-color: gray;
}
.menuHero {

letter-spacing: 5px;
text-transform: uppercase;
font-family: Regular,sans-serif;
font-size: 100px;
line-height: 100px;
font-weight: 700;
color: white;
}
.menuContainer {
  padding-top: 40px;
  display: flex;
  gap: 30px;
  justify-content: center;
  /* align-items: center; */
 
}
.menuButton {
  border-radius: 0;
  width: 10%;
}
.menuButton:active {
  background-color: #ff5338;
}
.menu {
  background-image: url(image/ramen2.avif);
  background-repeat: no-repeat;
  background-size: cover;
  
}
.dinnerHeading {
  color: #93bdb2;
text-align: center;
letter-spacing: 4px;
margin-top: 10px;
margin-bottom: 0;
padding-top: 20px;
padding-bottom: 20px;
font-size: 56px;
font-weight: 700;
font-family: Regular,sans-serif;
}

.menuItem {
  flex-direction: column;
  margin-top: 40px;
  font-family: "Proxima-Nova";
}
.menuTitle {
  color: #93bdb2;
text-align: center;
letter-spacing: 4px;
margin-top: 10px;
margin-bottom: 0;
padding-top: 20px;
padding-bottom: 20px;
font-size: 56px;
font-weight: 700;
font-family: Regular,sans-serif;
}
.rowContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.infoImage {
  display: flex;
  flex-direction: row;
 
  margin-top: 20px; /* Adjust this value as needed */
}
.menuImage {
  object-fit: cover;
  height: 120px;
  width: 120px;
  flex-shrink: 0;
  border-radius: 20px;
}
.fs-2 {
  padding-left: 20px;
  color: #02594d;
  font-weight: 900;
}
.text-end {
  font-size: 12px;
}
